 
  
h2{
    background-color:rgb(54, 111, 88);
    color:rgb(156, 207, 47);
    padding: 10px;
    margin: 0px 0 20px 0;
  }

/* .row-items{
  background-color: rgb(134, 237, 162);
} */

  

.res_mob_product{
  margin-bottom: 15px;
}


/* .res_mob_product_img{
  height:50px
} */

.figure_caption{
  color: black;
  font-size: 15x;
  font-weight: 500;
}

.carousel-text{
  font-size: 50px;
}

