
/* #firstname{
    padding-right: 250px;
}

#lastname{
    padding-right: 250px;
}
#email{
    padding-right:576px;
}

#phone{
    padding-right:570px;
}

#country{
    padding-right:560px;
}

#message{
    padding-right:555px;
} */

/* .custom-xl-6{
    padding-left: 0;
    padding-right: 0;
} */

.btn{
    background-color:rgb(54, 111, 88);
    color:rgb(156, 207, 47);
    font-weight: bold;
    border: 1px solid white;
}
.custom-font-label{
    font-size: 20px;
    color:rgb(54, 111, 88);
    font-weight: 400;
    padding: 10px;
}
/* 
.form-label{
    width: 50%;
}
.form-control{
    width: 90%;
} */